<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="csys" value="https://csys.pkgs.visualstudio.com/_packaging/Firfly/nuget/v3/index.json" />
    <add key="aspnetcore" value="https://dotnet.myget.org/F/aspnetcore-master/api/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <csys>
      <add key="Username" value="csys" />
      <add key="ClearTextPassword" value="%VSTS_PAT%" />
    </csys>
  </packageSourceCredentials>
</configuration>